:root {
    --primary-color: #ffffff;
    --secondary-color: #f2f2f2;
    --accent-color: #ff4d4d;
  }
  
  body {
    background-color: var(--primary-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 20px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: var(--secondary-color);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: var(--accent-color);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    height: 100px;
    width: 100px;
  }
  
  .cell:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  /* .win-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--accent-color);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  
  
  .lose-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--accent-color);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .lose-message:hover {
    display: none;
  } */


  #popup-message {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  
  .close-icon {
    position: absolute;
    top: -10px;
    right: -1px;
    width: 15px;
    height: 15px;
    background-color: #ff4d4d;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }