

body {
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
   

}
.cen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    border-radius: 10px;
    box-shadow: 5px 5px 10px #c7c1c1, -5px -5px 10px #f6f2f2;
    margin-top: 100px auto;
    padding: 20px;
    background-color: #e0dada;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.container h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    padding: 0;
}

.container p {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding: 0;
}

input[type=number] {
    display: flex;
    margin: 20px auto;
    padding: 0;
    box-shadow: 10px 10px 10px #c7c1c1, -10px -10px 10px #f6f2f2;
    font-size: 1.5rem;
    background-color: #f3f3f3;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    width: 100px;
}

.container button {
    display: block;
    margin: 0 auto;
    padding: 0;
    font-size: 1.5rem;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.message {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
    padding: 0;
    color: #000;
    font-weight: bold;
    text-rendering: optimizeSpeed;

}

.container button:hover {
    background-color: #e0dada;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#guess-btn {
    background-color: aqua;
    color: #353131;
}
